@page "/bkgproperty_admin"
@rendermode InteractiveServer


@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using RVPark.Data


@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@* @inject Bkg_UserService Bkg_UserService *@


<AuthorizeView Roles="Admin" Context="authContext">
    <NotAuthorized>
        <div class="tab-content" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h4>- You are NOT AUTHORIZED -</h4>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <h3>Property Maintenance</h3>
        <h4>BkgProperty_Admin</h4>
        @if (BkgProperties == null || BkgProperties.Count == 0)
        {
            <button class="btn btn-primary" @onclick="OpenAddModal">Add New Property</button>
            <p>Loading...</p>
        }
        else
        {
            <button class="btn btn-primary" @onclick="OpenAddModal">Add New Property</button>
            <div style="max-height: 80%; max-width: 80% overflow-y: auto;">
                @foreach (var property in BkgProperties)
                {
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">@property.Name</h5> Is Enabled <InputCheckbox @bind-Value="property.Enabled" Disabled="true" />
                            <p class="card-text">
                                <strong>Description:</strong> @property.Description<br />
                                <strong>Address:</strong> @property.Address, @property.City, @property.State, @property.Zip, @property.Country<br />
                                <strong>Price Per Period:</strong> @property.PricePerPeriod.ToString("c")
                                <strong>Max Guests:</strong> @property.MaxGuestNbr.ToString("##") <br />
                                Max RV Length: @property.MaxRVLength.ToString("#.#") &nbsp;
                                Max Park Width: @property.MaxParkWidth.ToString("#.#")<br />
                                <label for="HasPower">     Has Power: </label> |
                                <InputCheckbox @bind-Value="property.HasPower" Disabled="true" />
                                &nbsp; Max Amp: @property.MaxAmp | ;
                                <label for="HasWifi"> Has Wifi: </label>
                                <InputCheckbox @bind-Value="property.HasWifi" Disabled="true" /><br />
                                <label for="HasPottableWater"> Has Pottable Water: </label>
                                <InputCheckbox @bind-Value="property.HasPottableWater" Disabled="true" /> |
                                <label for="HasGreyWaterWaste"> Greywater waste: </label>
                                <InputCheckbox @bind-Value="property.HasGreyWaterWaste" Disabled="true" /> |
                                <label for="HasSewer"> Has Sewer: </label>
                                <InputCheckbox @bind-Value="property.HasSewer" Disabled="true" /><br />
                                <label for="HasWifi"> Has Wifi: </label>
                                <InputCheckbox @bind-Value="property.HasWifi" Disabled="true" /> |
                                <label for="HasEVCharge"> EV Charging: </label>
                                <InputCheckbox @bind-Value="property.HasEVCharge" Disabled="true" /> |
                                CnnType: @property.EVChargeType &nbsp;&nbsp; |


                                <label for="HasEBikeCharge"> E-Bike Charging: </label>
                                <InputCheckbox @bind-Value="property.HasEBikeCharge" Disabled="true" /><br />

                                <label for="HasBathroom"> Has Bathroom: </label>
                                <InputCheckbox @bind-Value="property.HasBathroom" Disabled="true" /> |

                                <label for="HasLaundry"> Has Laundry: </label>
                                <InputCheckbox @bind-Value="property.HasLaundry" Disabled="true" /> |

                                <label for="HasKitchenette"> Has Kitchenette: </label>
                                <InputCheckbox @bind-Value="property.HasKitchenette" Disabled="true" /> <br />

                                <label for="HasBedroom"> Has Bedroom: </label>
                                <InputCheckbox @bind-Value="property.HasBedroom" Disabled="true" /> |

                                <label for="HasLivingArea"> Has Living Area: </label>
                                <InputCheckbox @bind-Value="property.HasLivingArea" Disabled="true" /> |

                                <label for="HasOffStreetCarPark">Has Off-Street Car Park: </label>
                                <InputCheckbox @bind-Value="property.HasOffStreetCarPark" Disabled="true" /> <br />

                                Pet Situation: @property.PetSituation<br />
                                Kitchen Descn: @property.KitchenDescription<br />
                                Bedroom Descn: @property.BedroomDescription<br />
                                Bathroom Descn: @property.BathroomDescription<br />
                                Living Area Descn: @property.LivingAreaDescription<br />
                            </p>
                            <button class="btn btn-warning" @onclick="() => OpenEditModal(property)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => DeleteProperty(property.PropertyId)">Delete</button>
                        </div>
                    </div>
                }
            </div>
        }
        @if (isModalOpen)
        {
            <!-- Modal for Add/Edit Property -->
            <div class="modal fade @(isModalOpen ? "show d-block" : "")" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@modalTitle</h5>
                            <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <EditForm Model="@currentProperty" OnValidSubmit="SaveProperty">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <InputText id="name" class="form-control" @bind-Value="currentProperty.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="isEnabled">Is Enabled</label>
                                    <InputCheckbox id="isEnabled" @bind-Value="currentProperty.Enabled" />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <InputTextArea id="description" class="form-control" @bind-Value="currentProperty.Description" />
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <InputText id="address" class="form-control" @bind-Value="currentProperty.Address" />
                                </div>
                                <div class="form-group" style="display:flex;flex-direction:row;">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <InputText id="city" class="form-control" @bind-Value="currentProperty.City" />
                                    </div>
                                    <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                                        <label for="state">State</label>
                                        <InputText id="state" class="form-control" @bind-Value="currentProperty.State" />
                                    </div>
                                    <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                                        <label for="zip">Zip</label>
                                        <InputText id="zip" class="form-control" @bind-Value="currentProperty.Zip" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <InputText id="country" class="form-control" @bind-Value="currentProperty.Country" />
                                </div>
                                <div class="form-group">
                                    <label for="pricePerPeriod">Price Per Period</label>
                                    <InputNumber id="pricePerPeriod" style="max-width: 80px;" @bind-Value="currentProperty.PricePerPeriod" />&nbsp;&nbsp;
                                    <label for="maxGuestNbr">Max Guests</label>
                                    <InputNumber id="maxGuestNbr" style="max-width: 80px;" @bind-Value="currentProperty.MaxGuestNbr" />
                                </div>
                                <div class="form-group">
                                    <label for="maxRVLength">Max RV Length</label>
                                    <InputNumber id="maxRVLength" style="max-width: 80px;" @bind-Value="currentProperty.MaxRVLength" />&nbsp;&nbsp;
                                    <label for="maxParkWidth">Max Park Width</label>
                                    <InputNumber id="maxParkWidth" style="max-width: 80px;" @bind-Value="currentProperty.MaxParkWidth" />
                                </div>
                                <div class="form-group">
                                    <label for="hasPottableWater">Has Pottable Water</label>
                                    <InputCheckbox id="hasPottableWater" @bind-Value="currentProperty.HasPottableWater" /> |
                                    <label for="hasGreyWaterWaste">Has Greywater waste</label>
                                    <InputCheckbox id="hasGreyWaterWaste" @bind-Value="currentProperty.HasGreyWaterWaste" /> |
                                    <label for="hasSewer">Has Sewer</label>
                                    <InputCheckbox id="hasSewer" @bind-Value="currentProperty.HasSewer" />
                                </div>
                                <div class="form-group">
                                    <label for="hasPower">Has Power</label>
                                    <InputCheckbox id="hasPower" style="input disabled: " @bind-Value="currentProperty.HasPower" /> |

                                    <label for="maxAmp">Max Amp</label>
                                    <InputNumber id="maxAmp" style="max-width: 40px;" @bind-Value="currentProperty.MaxAmp" /> |
                                    <label for="hasWifi">Has Wifi</label>
                                    <InputCheckbox id="hasWifi" @bind-Value="currentProperty.HasWifi" />

                                </div>
                                <div class="form-group">
                                    <label for="hasEVCharge">Has EV Charge</label>
                                    <InputCheckbox id="hasEVCharge" @bind-Value="currentProperty.HasEVCharge" /> |
                                    <label for="evChargeType">EV Type</label>
                                    <InputText id="evChargeType" style="max-width: 60px;" @bind-Value="currentProperty.EVChargeType" /> |
                                    <label for="hasEbikeCharge">E-Bike Charge</label>
                                    <InputCheckbox id="hasEbikeCharge" style="max-width: 80px;" @bind-Value="currentProperty.HasEBikeCharge" />
                                </div>
                                <div class="form-group">
                                    <label for="hasBathroom">Has Bathroom</label>
                                    <InputCheckbox id="hasBathroom" @bind-Value="currentProperty.HasBathroom" /> |
                                    <label for="hasLaundry">Has Laundry</label>
                                    <InputCheckbox id="hasLaundry" @bind-Value="currentProperty.HasLaundry" /> |
                                    <label for="hasKitchenette">Has Kitchenette</label>
                                    <InputCheckbox id="hasKitchenette" @bind-Value="currentProperty.HasKitchenette" />
                                </div>
                                <div class="form-group">
                                    <label for="hasBedroom">Has Bedroom</label>
                                    <InputCheckbox id="hasBedroom" @bind-Value="currentProperty.HasBedroom" /> |
                                    <label for="hasLivingArea">Has Living Area</label>
                                    <InputCheckbox id="hasLivingArea" @bind-Value="currentProperty.HasLivingArea" /> |
                                    <label for="hasOffStreetCarPark">Has Off-Street Car Park</label>
                                    <InputCheckbox id="hasOffStreetCarPark" @bind-Value="currentProperty.HasOffStreetCarPark" />
                                </div>
                                <div class="form-group">
                                    <label for="petSituation">Pet Situation</label>
                                    <InputTextArea id="petSituation" class="form-control" @bind-Value="currentProperty.PetSituation" />
                                </div>
                                <div class="form-group">
                                    <label for="kitchenDescription">Kitchen Description</label>
                                    <InputTextArea id="kitchenDescription" class="form-control" @bind-Value="currentProperty.KitchenDescription" />
                                </div>
                                <div class="form-group">
                                    <label for="bedroomDescription">Bedroom Description</label>
                                    <InputTextArea id="bedroomDescription" class="form-control" @bind-Value="currentProperty.BedroomDescription" />
                                </div>
                                <div class="form-group">
                                    <label for="bathroomDescription">Bathroom Description</label>
                                    <InputTextArea id="bathroomDescription" class="form-control" @bind-Value="currentProperty.BathroomDescription" />
                                </div>
                                <div class="form-group">
                                    <label for="livingAreaDescription">Living Area and Other Comments</label>
                                    <InputTextArea id="livingAreaDescription" class="form-control" @bind-Value="currentProperty.LivingAreaDescription" />
                                </div>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        }







    </Authorized>
</AuthorizeView>

@code {
    // [Parameter]
    // public List<Bkg_Property> BkgProperties { get; set; }
    //  Bkg_Property CRUD
    private List<Bkg_Property> BkgProperties = new List<Bkg_Property>();
    private Bkg_Property currentProperty = new Bkg_Property();
    private bool isModalOpen = false;
    private string modalTitle = "Add New Property";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            BkgProperties = await ApplicationDbContext.bkg_Properties.ToListAsync();
        }
        catch (Exception ex)
        {
            var exmsg = ex.ToString();
        }
    }

    private void OpenAddModal()
    {
        currentProperty = new Bkg_Property();
        modalTitle = "Add New Property";
        isModalOpen = true;
    }

    private void OpenEditModal(Bkg_Property property)
    {
        currentProperty = property;
        modalTitle = "Edit Property";
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }

    private async Task SaveProperty()
    {
        if (currentProperty.PropertyId == 0)
        {
            ApplicationDbContext.bkg_Properties.Add(currentProperty);
        }
        else
        {
            ApplicationDbContext.bkg_Properties.Update(currentProperty);
        }
        await ApplicationDbContext.SaveChangesAsync();
        BkgProperties = await ApplicationDbContext.bkg_Properties.ToListAsync();
        CloseModal();
    }
    private async Task DeleteProperty(int propertyId)
    {
        var property = await ApplicationDbContext.bkg_Properties.FindAsync(propertyId);
        if (property != null)
        {
            ApplicationDbContext.bkg_Properties.Remove(property);
            await ApplicationDbContext.SaveChangesAsync();
            BkgProperties = await ApplicationDbContext.bkg_Properties.ToListAsync();
        }
    }
}
