@page "/admin"
@rendermode InteractiveServer
<PageTitle>RV Park Administration</PageTitle>
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using RVParking.Data


@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@* //@inject Bkg_UserService Bkg_UserService// *@
@* <h3>RV Park Booking, Data and User Administration</h3> *@


<div class="tabs">
    <button class="@(activeTab == "Tab1" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab1"))">New Booking</button>
    <button class="@(activeTab == "Tab2" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab2"))">Current Bookings</button>
    <button class="@(activeTab == "Tab8" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab8"))">Past Bookings</button>
    <button class="@(activeTab == "Tab7" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab7"))">Booking Users</button>
    <button class="@(activeTab == "Tab3" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab3"))">User/Role Maint.</button>
    <button class="@(activeTab == "Tab4" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab4"))">Role Maint.</button>
    <button class="@(activeTab == "Tab5" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab5"))">Property Maint.</button>
    <button class="@(activeTab == "Tab6" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab6"))">Booking Availability</button>

</div>
<hr />
<div id="Tab1" class="tabcontent" style="@(activeTab == "Tab1" ? "display: block;" : "display: none;")">
    <h4>New Booking for <b>@BkgType</b></h4>
    <div class="form-group" style="display:flex;flex-direction:row;">
        <div class="form-group" style="max-width: 25%; text-align:center; margin-left: 2%">
            <label for="fmdate">Arriving</label>
            <InputDate @bind-Value=Fmdate class="form-control" id="fmdate" />
            @* <ValidationMessage For="() => emailMessage.Fmdate" /> *@
        </div>
        <div class="form-group" style="max-width: 25%; text-align:center; margin-left: 2%;">
            <label for="todate">Departing</label>
            <InputDate @bind-Value=Todate class="form-control" id="todate" />
            @* <ValidationMessage For="() => emailMessage.Todate" /> *@
        </div>
    </div>
    <div>
        <button class="btn btn-primary" style="min-width: 40%; align-content: center;" @onclick="CheckBkgRequest">Request Booking</button>
    </div>
</div>

<div id="Tab2" class="tabcontent" style="@(activeTab == "Tab2" ? "display: block;" : "display: none;")">
    BkgAvail_BulkChange.razor
</div>
<div id="Tab3" class="tabcontent" style="@(activeTab == "Tab3" ? "display: block;" : "display: none;")">
    <RVParking.Components.Pages.TabComponents.AspNetUserRoles_Maint />
</div>
<div id="Tab4" class="tabcontent" style="@(activeTab == "Tab4" ? "display: block;" : "display: none;")">
   <RVParking.Components.Pages.TabComponents.AspNetRoles_Maint />
</div>
<div id="Tab5" class="tabcontent" style="@(activeTab == "Tab5" ? "display: block;" : "display: none;")">
@*     <RVParking.Components.Pages.TabComponents.Bkg_Property_Maint BkgProperties="BkgProperties" />
 *@    <RVParking.Components.Pages.TabComponents.Bkg_Property_Maint  />
</div>
<div id="Tab6" class="tabcontent" style="@(activeTab == "Tab6" ? "display: block;" : "display: none;")">
@*     <RVParking.Components.Pages.TabComponents.Bkg_Availability_Maint BkgPropertiesAvail="BkgProperties" />*@
    <RVParking.Components.Pages.TabComponents.Bkg_Availability_Maint  />
</div>
<div id="Tab7" class="tabcontent" style="@(activeTab == "Tab7" ? "display: block;" : "display: none;")">
    <RVParking.Components.Pages.TabComponents.Bkg_User_Maint />
</div>
<div id="Tab8" class="tabcontent" style="@(activeTab == "Tab8" ? "display: block;" : "display: none;")">
    <RVParking.Components.Pages.TabComponents.Bkg_Bookings_Maint />
</div>

@code {
    private string activeTab = "Tab3";
    private string BkgType = "RVPark On Fitz";
    private string isAvail = "Yes";
    public DateTime Fmdate { get; set; } = DateTime.Now.Date;
    public DateTime Todate { get; set; } = DateTime.Now.Date;
    private bool allDatesAvailable = false;
    private string toDelete = "no";
    private string status = string.Empty;

    private List<Bkg_Property> BkgProperties = new List<Bkg_Property>();
    protected override async Task OnInitializedAsync()
    {

    }

    private void SetActiveTab(string tabName)
    {
        activeTab = tabName;
    }
    private void CheckBkgRequest()
    {
        // LINQ query to check if all dates in the range are available
        if (ApplicationDbContext.bkg_Availabilities == null)
        {
            allDatesAvailable = false;
        }
        else
        {
            // perhaps we wish to update if the record is there otherwise create it but not duplicate it.
            DateTime dte = Fmdate;
            while (dte <= Todate)
            {
                // var bkgAvailability = new Bkg_Availability(){
                //     DateAvailable = dte,
                //         Available = true,
                //         PropertyId = 1
                // });
                dte = dte.AddDays(1);
            }
            // var res = ApplicationDbContext.bkg_Availabilities.ExecuteUpdateAsync(bkgAvailabilities);
            // var res1 =  ApplicationDbContext.SaveChangesAsync();
        }
    }
    // private async Task CrudBkBkgAvailablilty()
    // {
    //     if (toDelete == "YES")
    //     {
    //         var recordsToDelete = ApplicationDbContext.bkg_Availabilities
    //             .Where(a => a.PropertyId == int.Parse(BkgType) && a.DateAvailable >= Fmdate && a.DateAvailable <= Todate);

    //         ApplicationDbContext.bkg_Availabilities.RemoveRange(recordsToDelete);
    //     }
    //     else
    //     {
    //         DateTime dte = Fmdate;
    //         while (dte <= Todate)
    //         {
    //             var existingRecord = ApplicationDbContext.bkg_Availabilities
    //                 .FirstOrDefault(a => a.PropertyId == int.Parse(BkgType) && a.DateAvailable == dte);

    //             if (existingRecord != null)
    //             {
    //                 existingRecord.Available = isAvail == "Yes";
    //                 existingRecord.AvailabilityStatus = status;
    //             }
    //             else
    //             {
    //                 var newRecord = new Bkg_Availability
    //                 {
    //                     PropertyId = int.Parse(BkgType),
    //                     DateAvailable = dte,
    //                     Available = isAvail == "Yes",
    //                     AvailabilityStatus = status
    //                 };
    //                 ApplicationDbContext.bkg_Availabilities.Add(newRecord);
    //             }
    //             dte = dte.AddDays(1);
    //         }
    //     }
    //     await ApplicationDbContext.SaveChangesAsync();
    // }
    //  Bkg_Property CRUD
    // private List<Bkg_Property> BkgProperties = new List<Bkg_Property>();
    // private Bkg_Property currentProperty = new Bkg_Property();
    // private bool isModalOpen = false;
    // private string modalTitle = "Add New Property";
    // private void OpenAddModal()
    // {
    //     currentProperty = new Bkg_Property();
    //     modalTitle = "Add New Property";
    //     isModalOpen = true;
    // }

    // private void OpenEditModal(Bkg_Property property)
    // {
    //     currentProperty = property;
    //     modalTitle = "Edit Property";
    //     isModalOpen = true;
    // }

    // private void CloseModal()
    // {
    //     isModalOpen = false;
    // }

    // private async Task SaveProperty()
    // {
    //     if (currentProperty.PropertyId == 0)
    //     {
    //         ApplicationDbContext.bkg_Properties.Add(currentProperty);
    //     }
    //     else
    //     {
    //         ApplicationDbContext.bkg_Properties.Update(currentProperty);
    //     }
    //     await ApplicationDbContext.SaveChangesAsync();
    //     BkgProperties = await ApplicationDbContext.bkg_Properties.ToListAsync();
    //     CloseModal();
    // }
    // private async Task DeleteProperty(int propertyId)
    // {
    //     var property = await ApplicationDbContext.bkg_Properties.FindAsync(propertyId);
    //     if (property != null)
    //     {
    //         ApplicationDbContext.bkg_Properties.Remove(property);
    //         await ApplicationDbContext.SaveChangesAsync();
    //         BkgProperties = await ApplicationDbContext.bkg_Properties.ToListAsync();
    //     }
    // }


}



