@page "/ContactRegister"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.WebUtilities
@using RVParking.Data
@using RVParking.Components.Account
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using TNZAPI.NET;
@using TNZAPI.NET.Core;
@using TNZAPI.NET.Api.Addressbook.Contact.Dto;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<ContactRegister> Logger
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@inject IConfiguration configuration
@inject RoleManager<IdentityRole> RoleManager
@inject ApplicationDbContext ApplicationDbContext


<PageTitle>Contact Us</PageTitle>

<h1>Ask, Check Availability, Book.</h1>

<div class="row">
    <div class="col-lg-6">
        @if (currentStep == 1)
        {
            <EditForm Model="RegistrationInput" OnValidSubmit="@SendConfirmationCodes" FormName="SendCodesForm">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <span>
                    <small>Please register, you can then view bkg-availablility. You can Opt out.<br/>
                    </small>
                 </span>

                <span><i>Query Availability for RV Park or Apartment with In/Out Dates.</i></span>

                <div class="form-group" style="text-align:left; max-width: 75%; margin-left: 2%;">
                    <label>RVPark/Apartment</label>
                    <select style="flex: 1 1 600px;  margin-left: 2%;" @bind="searchPropertyId">
                        <option value="">Select</option>
                        @foreach (var property in properties)
                        {
                            <option value="@property.PropertyId">@property.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group" style="display:flex;flex-direction:row;">
                    <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                        <label for="fmdate">From</label>
                        <InputDate @bind-Value=RegistrationInput.Fmdate class="form-control" id="fmdate" />
                        <ValidationMessage For="() => RegistrationInput.Fmdate" />
                    </div>
                    <div class="form-group" style="max-width: 25%;  margin-left: 2%">
                        <label for="todate">To</label>
                        <InputDate @bind-Value=RegistrationInput.Todate class="form-control" id="todate" />
                        <ValidationMessage For="() => RegistrationInput.Todate" />
                    </div>

                </div>
                <span><i>Contact Us with a message or question.</i></span>
                <div class="form-group" style="max-width: 75%;width: 500px; margin-left: 2%">
                    <label for="subject">Subject</label>
                    <InputText @bind-Value="RegistrationInput.Subject" class="form-control" id="subject" />
                    <ValidationMessage For="() => RegistrationInput.Subject" />
                </div>
                <div class="form-group" style="max-width: 75%;width:500px;  margin-left: 2%">
                    <label for="message">Message</label>
                    <InputTextArea @bind-Value="RegistrationInput.Message" class="form-control" id="message" />

                </div>

                @* <hr /> *@
                <span><i>The information we need of you.</i></span>
                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="firstname">First Name</label>
                        <InputText @bind-Value=RegistrationInput.FirstName class="form-control" id="firstname" />
                        <ValidationMessage For="() => RegistrationInput.FirstName" />
                    </div>
                    <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                        <label for="lastname">Last Name</label>
                        <InputText @bind-Value=RegistrationInput.LastName class="form-control" id="lastname" />
                        <ValidationMessage For="() => RegistrationInput.LastName" />
                    </div>
                </div>
                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="email">Email</label>
                        <InputText @bind-Value=RegistrationInput.Email class="form-control" id="email" />
                        <ValidationMessage For="() => RegistrationInput.Email" />
                    </div>
                    <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                        <label for="mobile">Mobile Phone</label>
                        <InputText @bind-Value=RegistrationInput.Mobile class="form-control" id="mobile" />
                        <ValidationMessage For="() => RegistrationInput.Mobile" />
                    </div>
                </div>
 

                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="city">City/Town</label>
                        <InputText @bind-Value=RegistrationInput.City class="form-control" id="city" />
                        <ValidationMessage For="() => RegistrationInput.City" />
                    </div>
                    <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                        <label for="country">Country</label>
                        <InputText @bind-Value=RegistrationInput.Country class="form-control" id="country" />
                        <ValidationMessage For="() => RegistrationInput.Country" />
                    </div>
                </div>
                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="nzmca">NZMCA #</label>
                        <InputText @bind-Value=RegistrationInput.NZMCA class="form-control" id="nzmca" />
                        <ValidationMessage For="() => RegistrationInput.NZMCA" />
                    </div>
                    <div class="form-group" style="max-width: 100%; margin-left: 2% ">
                        <label for="checked">Become a user?</label>
                        <br/>

                        <SfSwitch @bind-Checked="regChecked" style="margin-top:0.5pc;" id="checked"></SfSwitch>
                    </div>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Check Availability, Message US and get EMAIL/SMS Confirmation Codes</button>
            </EditForm>
        }

        @if (currentStep == 2)
        {
            @* <StatusMessage Message="@Message" /> *@
            <span>
                
                If you wish to register and have your queried booking reserved, then:-<br/>
                Please enter:-
                <ul>
                    <li>Your password and confirm it.</li>
                    <li>The confirmation codes sent to your Email and Mobile Phone.</li>
                    <ul>
                        <li>This may take a minute or two depending on the email servers involved, so do please hang in there. Also check your spam/junk folder</li>
                        </ul>

                    <li>If you do not see the email in your inbox please check your spam/junk folder.</li>
                    <li>If you do not wish to register or book just leave these fields BLANK.We get back to you shortly.</li>
                </ul>
                </span>
            <EditForm Model="RegistrationInput" OnValidSubmit="@ValidateCodesAndRegister" FormName="ValidateCodesForm">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="password">Password</label>
                        <InputText type="password" @bind-Value=RegistrationInput.Password class="form-control" id="password" />
                        <ValidationMessage For="() => RegistrationInput.Password" />
                    </div>
                    <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                        <label for="confirmpassword">Confirm Password</label>
                        <InputText type="password" @bind-Value=RegistrationInput.ConfirmPassword class="form-control" id="confirmpassword" />
                        <ValidationMessage For="() => RegistrationInput.ConfirmPassword" />
                    </div>
                </div>
                <div class="form-group" style="display:flex;flex-direction:row; max-width: 75%; margin-left: 2%">
                    <div class="form-group" style="max-width: 100%; ">
                        <label for="smscode">SMS Confirmation Code</label>
                        <InputText @bind-Value=RegistrationInput.SmsCode class="form-control" id="smscode" />
                        <ValidationMessage For="() => RegistrationInput.SmsCode" />
                    </div>
                    <div class="form-group" style="max-width: 100%;  margin-left: 2%">
                        <label for="emailcode">Email Confirmation code</label>
                        <InputText @bind-Value=RegistrationInput.EmailCode class="form-control" id="emailcode" />
                        <ValidationMessage For="() => RegistrationInput.EmailCode" />
                    </div>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-success">Register and Check Availability</button>
            </EditForm>
            @if (verificationResult != null)
            {
                <p>@verificationResult</p>
            }
        }

        @if (currentStep == 3)
        {
            @if (verificationResult != null)
            {
                <p>@verificationResult</p>
            }
            @* <StatusMessage Message="@Message" /> *@
            <EditForm Model="RegistrationInput" OnValidSubmit="@ExitRegisterForm" FormName="ExitRegForm">
                @*            <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.EmailCode" class="form-control" placeholder="Email Code" />
                    <label>Email Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.EmailCode" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.SmsCode" class="form-control" placeholder="SMS Code" />
                    <label>SMS Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.SmsCode" class="text-danger" />
                </div> *@
                <button type="submit" class="w-100 btn btn-lg btn-success">exit</button>
            </EditForm>

        }
    </div>
</div>

@code {
    private bool isBkg_User = false;
    private bool codesSent = false;
    private int currentStep = 1;
    private string? generatedEmailCode;
    private string? generatedSmsCode;
    private string? verificationResult;
    private bool regChecked = true;
    private IEnumerable<IdentityError>? identityErrors;
    private IdentityRole? role { get; set; }
    private int searchPropertyId = 0; // should be id of first in loaded properties
    private Bkg_Engine bkg_Engine;

    private List<Bkg_Property> properties = new();

    private RegistrationInputModel RegistrationInput { get; set; } = new();
    // private CodeInputModel CodeInput { get; set; } = new();

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    private string GenerateCode() => new Random().Next(100000, 999999).ToString();

    private async Task SendConfirmationCodes()
    {
        generatedEmailCode = GenerateCode();
        generatedSmsCode = GenerateCode();

        // Send email code
        // await EmailSender.SendEmailAsync(RegistrationInput.Email, "Your Email Confirmation Code", $"Your code: {generatedEmailCode}");
        SendEmailConfirmationCode(RegistrationInput.Email);

        // Send SMS code
        // await SmsSender.SendSmsAsync(RegistrationInput.Mobile, $"Your SMS confirmation code: {generatedSmsCode}");
        string txtrept = Chk_E_164_Phone(RegistrationInput.Mobile);
        SendTxtConfirmationCode(txtrept);
        await Task.Delay(500); // slight delay to allow for the messages to be sent before moving to next step
        currentStep = 2;
        codesSent = true;
    }

    private async Task ValidateCodesAndRegister()
    {
        // if (verificationResult != null)
        // {
        //     NavigationManager.NavigateTo("/");
        // }
        if (RegistrationInput.EmailCode != generatedEmailCode || RegistrationInput.SmsCode != generatedSmsCode)
        {
            identityErrors = new[] { new IdentityError { Description = "Invalid confirmation codes." } };
            verificationResult = "❌ Verification failed. -- Invalid confirmation codes.";
            currentStep = 3;
            return;
        }

        // see if this is the first User and if so perhaps role = Admin needs to be added if it is not there so the Admin and setup features will be available to the first confirmed user.
        var userCount = await ApplicationDbContext.GetIdentityUserCountAsync();
        if (userCount == 0)
        {
            role = await ApplicationDbContext.Roles.FindAsync("Admin");
            if (role == null)
            {
                role = new IdentityRole();
                if (role != null)
                {
                    role.Name = "Admin";
                    role.NormalizedName = role.Name.ToUpper();
                    await ApplicationDbContext.Roles.AddAsync(role);
                    await ApplicationDbContext.SaveChangesAsync();
                }
                else
                {
                    verificationResult = "❌ Verification failed. -- Role Admin, found to be needed BUT not created.";
                    currentStep = 3;
                    return;
                }
            }
        }

        // At this point we have valid codes so we can try to create the user account
        var user = new ApplicationUser
        {
            Email = RegistrationInput.Email,
            UserName = RegistrationInput.Email,
            FirstNames = RegistrationInput.FirstName,
            LastName = RegistrationInput.LastName,
            PhoneNumber = RegistrationInput.Mobile,
            City = RegistrationInput.City,
            Country = RegistrationInput.Country,
            NZMCA = RegistrationInput.NZMCA,
            CreatedDte = DateTime.Now
        };
        var result = await UserManager.CreateAsync(user, RegistrationInput.Password);
        // If the user already exists or other issue then we will end up here.
        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            string serr = result.Errors.FirstOrDefault()?.Description ?? string.Empty;
            verificationResult = "❌ Verification failed. " + serr;
            currentStep = 3;
            return;
        }

        // If we get here then the user was created and now we create the BkgUser for this person.
        // Populate the Bkg_User object and save it.
        // First see if there is a Bkg_User for this email
        var bkg_User = await ApplicationDbContext.bkg_Users.FirstOrDefaultAsync(u => u.UserEmail == user.Email);
        if (bkg_User != null)
        {
            // If a Bkg_User already exists, update it Also should update the AppUSer with data from the Bkg_User, names, phone, address, NZMCA etc.
            isBkg_User = true;
            bkg_User.UserName = user.Email;
            bkg_User.AppUserId = user.Id;
            user.FirstNames = bkg_User.UserFirstName;
            user.LastName = bkg_User.UserLastName;
            user.NZMCA = bkg_User.UserNZMCA;
            user.City = bkg_User.UserCity;
            user.Country = bkg_User.UserCountry;
            user.UserAddress = bkg_User.UserAddress;
            user.UserState = bkg_User.UserState;
            user.UserZip = bkg_User.UserZip;

            // ApplicationDbContext.bkg_Users.Update(bkg_User);
            // ApplicationDbContext.Users.Update(user);
        }
        else
        {
            // If no Bkg_User exists, create a new one
            bkg_User = new Bkg_User
            {
                UserEmail = user.Email,
                UserName = user.Email,
                AppUserId = user.Id,
                UserFirstName = RegistrationInput.FirstName,
                UserLastName = RegistrationInput.LastName,
                UserPhone = RegistrationInput.Mobile,
                UserNZMCA = user.NZMCA
            };
        }
        // Save bkg_User to the database
        if (isBkg_User)
        {
            // If the user already exists, update the existing record
            ApplicationDbContext.bkg_Users.Update(bkg_User);
            ApplicationDbContext.Users.Update(user);
        }
        else
        {
            // If the user does not exist, add a new record
            bkg_User.CreatedDte = DateTime.Now;
            await ApplicationDbContext.bkg_Users.AddAsync(bkg_User);
        }

        await ApplicationDbContext.SaveChangesAsync();

        Logger.LogInformation("User created or updated new Add account and password.");

        // now generate the code
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        // Now we have the code we can confirm the user which means they can sign in. They have the EmailCofirmed flag set to true.
        var resultConfirm = await UserManager.ConfirmEmailAsync(user, code);


        // If this is the first time a user has confirmed their email, this user may need to be added as to the Admin Role.
        // See if there are any other users that have email confirmed and if not add this user to the Admin Role.
        userCount = await ApplicationDbContext.CountUserConfirmedAsync();
        if (userCount <= 1) // then this is the first confirming user so add this user to this role. Might also see if any other user has Admin
        {
            var role = await RoleManager.FindByNameAsync("Admin");
            if (role != null)
            {
                var addResult = await UserManager.AddToRoleAsync(user, role.Name);
                if (addResult.Succeeded)
                {
                    verificationResult += " Also you have been made Administrator for this App.";
                }
            }
            await ApplicationDbContext.SaveChangesAsync();
        }
        verificationResult += "✅ Verified and created! You can now use the system. Please login as normal.";
        currentStep = 3;
        // // await SignInManager.SignInAsync(user, isPersistent: false);
        // NavigationManager.NavigateTo("/");
    }
    private Task ExitRegisterForm()
    {
        NavigationManager.NavigateTo("/");
        return Task.CompletedTask;
    }
    protected override async Task OnInitializedAsync()
    {
        if (bkg_Engine == null)
        {
            bkg_Engine = new Bkg_Engine(ApplicationDbContext);
        }
        properties = await ApplicationDbContext.bkg_Properties.ToListAsync() ?? new List<Bkg_Property>();

    }

    



    private sealed class RegistrationInputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        public string FirstName { get; set; } = "";

        [Required]
        public string LastName { get; set; } = "";

        [Required]
        [RegularExpression(@"^\+?[0-9]\d{1,14}$", ErrorMessage = "The phone number is not valid.")]
        [DataType(DataType.PhoneNumber)]
        public string Mobile { get; set; } = "";

        [Required]
        public string City { get; set; } = "";

        [Required]
        public string Country { get; set; } = "";

        // [Required]
        public string NZMCA { get; set; } = "";


        // [StringLength(100, MinimumLength = 0)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        public DateTime Fmdate { get; set; } = DateTime.Now.Date;
        public DateTime Todate { get; set; } = DateTime.Now.Date;
        public string Subject { get; set; } = string.Empty;
        public string Message { get; set; } = string.Empty;

        public string EmailCode { get; set; } = "";
        public string SmsCode { get; set; } = "";
    }

    private void SendEmailConfirmationCode(string emailTo)
    {
        string subjectMsg = "Email Confirmation Code";
        string bodyMsg = $"Your Email Confirmation code is: {generatedEmailCode}";


        // #if !DEBUG

        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
        {
            AuthToken = configuration["TNZ:AuthToken"]
        };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: bodyMsg,
            destination: emailTo
        );
        // #endif

    }
    private void SendTxtConfirmationCode(string txtrept) // txtrept is a phone number in E.164 format and this message is FULL LENGTH expensive.
    {
        string msg = $"Your SMS confirmation code: {generatedSmsCode}";
        // #if !DEBUG
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
        {
            AuthToken = configuration["TNZ:AuthToken"]
        };
        var client = new TNZApiClient(apiUser);

        var response = client.Messaging.SMS.SendMessage
            (
                destination: txtrept,
                messageText: msg
            );
        // #endif
    }
    private string Chk_E_164_Phone(string phne)
    {
        string srtn = string.Empty;
        if (phne.Length > 0)
        {
            if (phne.StartsWith("+")) // then likely in the corect format already
            {
                srtn = phne.Trim();
            }
            else if (phne.StartsWith("0"))// then likely miss country code so remove the "0" and add "+64"
            {
                srtn = string.Concat("+64" + phne[1..]); // this prefix should be a configurable for the ountry the app is being run in.
            }
        }
        return srtn;
    }

}