@page "/mybookings"
@rendermode InteractiveServer
<PageTitle>RV Park My Bookings</PageTitle>

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using RVParking.Data


@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@* @inject Bkg_UserService Bkg_UserService *@


<div class="tabs"> 
    <button class="@(activeTab == "Tab1" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab1"))">New Booking</button>
    <button class="@(activeTab == "Tab2" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab2"))">Current Bookings</button>
    <button class="@(activeTab == "Tab3" ? "active" : "")" @onclick="@(() => SetActiveTab("Tab3"))">Past Bookings</button>

</div>
<div id="Tab1" class="tabcontent" style="@(activeTab == "Tab1" ? "display: block;" : "display: none;")"> 
    <h4>New Booking for <b>@BkgType</b></h4> 
    <div class="form-group" style="display:flex;flex-direction:row;">
        <div class="form-group" style="max-width: 25%; text-align:center; margin-left: 2%">
            <label for="fmdate">Arriving</label>
            <InputDate @bind-Value=Fmdate class="form-control" id="fmdate" />
            @* <ValidationMessage For="() => emailMessage.Fmdate" /> *@
        </div>
        <div class="form-group" style="max-width: 25%; text-align:center; margin-left: 2%;">
            <label for="todate">Departing</label>
            <InputDate @bind-Value=Todate class="form-control" id="todate" />
            @* <ValidationMessage For="() => emailMessage.Todate" /> *@
        </div>
    </div>
    <div>
        <button class="btn btn-primary" style="min-width: 40%; align-content: center;" @onclick="CheckBkgRequest">Request Booking</button>
    </div>
</div>

<div id="Tab2" class="tabcontent" style="@(activeTab == "Tab2" ? "display: block;" : "display: none;")">
    <h3>Existing Bookings</h3> 
    <p>Here you can see your existing bookings.</p>
    <p>****** STILL bloody working on it.... a  WORK IN PROGRESS SORRY ******</p>
</div>
<div id="Tab2" class="tabcontent" style="@(activeTab == "Tab3" ? "display: block;" : "display: none;")">
    <h3>Past Bookings</h3>
    <p>Here are the bookings you have had in the past.</p>
    <p>****** W. I. P. ******</p>
</div>





@* <div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">

        <img src="images/RVParkBlkAA.png" alt="https://via.placeholder.com/100" max-width="300px" ; class="card-sm" />
        <br />
        <a href="https://campable.com/locations/5137171604307968" color="white" text-align="center" target="_blank">RVPark On Fitz</a>
        <p>We manage your bookings through this web site where you can see availablity, make and manage your bookings.</p>
        <p>****** STILL A WORK IN PROGRESS SORRY ******</p>
    </div>
</div>
<div class="card" style="max-width: 500px">
    <div class="card-sm" style="max-width: 500px; text-align: center;">
        <br />

        <img src="images/NZMCALogoA.png" alt="https://via.placeholder.com/100" class="card-sm" />
        <p>However if you are a NZMCA Member then please use the <br /> <a href="./ContactUs">"Contact Us"</a> <br />page to arrange your booking with membership discount.</p>
    </div>
</div>
 *@


@code {
    private string activeTab = "Tab1";
    private string BkgType = "RVPark On Fitz";
    public DateTime Fmdate { get; set; } = DateTime.Now.Date;

    public DateTime Todate { get; set; } = DateTime.Now.Date;

    private bool allDatesAvailable  = false;

    private void SetActiveTab(string tabName)
    {
        activeTab = tabName;
    }
    private void CheckBkgRequest()
    {
        // LINQ query to check if all dates in the range are available
        //var result =  Bkg_UserService.Bkg_AvailableAllSync(Fmdate, Todate);
        if (ApplicationDbContext.bkg_Availabilities == null)
        {
            allDatesAvailable = false;
        }
        else
        {
            var recordsInRange =  ApplicationDbContext.bkg_Availabilities
                                .Where(b => b.DateAvailable <= Fmdate && b.DateAvailable <= Todate)
                                .ToList();
            if (recordsInRange.Count() == 0)  
            {
                allDatesAvailable = false;
            }
            else
            {
                // check number of records returned is same as number of days in range
                // see if any are Not available
                allDatesAvailable = false;
            }
        }

      //  var recordsInRange = ApplicationDbContext.bkg_Availabilities.Where(b => b.DateAvailable <= Fmdate && b.DateAvailable <= Todate).ToListAsync();


   

    }
}
