@page "/Admin/Allbookings"
@rendermode InteractiveServer
<PageTitle>RV Park Administration</PageTitle>


@using RVParking.Data
@using RVParking.Components.Account

@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using TNZAPI.NET;
@using TNZAPI.NET.Core;
@using TNZAPI.NET.Api.Addressbook.Contact.Dto;

@* Is Being Used *@

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor

@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject ApplicationDbContext ApplicationDbContext
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager



@inject IConfiguration configuration
<AuthorizeView Roles="Admin" Context="authContext">
    <Authorized>
        <!-- Page header with title and button to add a new Booking -->
        <div class="tab-content" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h4>Current Open Bookings - Add, Edit, and Delete All Bookings</h4>
            </div>
            <div>
                <button class="btn btn-primary" @onclick="OpenAddModal">Add New Booking</button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized> 
        <div class="tab-content" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h4>- You are NOT AUTHORIZED -</h4>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin" Context="authContext">
    <Authorized>
        <!-- Search Bar -->
        <div class="search-bar" style="display:flex; flex-wrap: wrap; gap: 4px;">
            <input type="text" style="flex: 1 1 200px;" placeholder="Search by Client or Bkg Ref:" @bind="searchUsername" />
            <input type="date" style="flex: 1 1 200px;" @bind="searchFromDate" />
            <input type="date" style="flex: 1 1 200px;" @bind="searchToDate" />
            <select style="flex: 1 1 200px;" @bind="searchPropertyId">
                <option value="">Select Property</option>
                @foreach (var property in properties)
                {
                    <option value="@property.PropertyId">@property.Name</option>
                }
            </select>
            <input type="text" style="flex: 1 1 200px; max-width: 300px" placeholder="Search by Status" @bind="searchStatus" />
            @* <label for="All Bkgs"> All Bkgs</label> *@

            <button class="bi form-control" style="flex: 0 0 40px; height: 32px; margin-left: 4px;" ALL
            @onclick="ClearSearch">
                <i class="bi bi-x-lg"></i> 
            </button>
            <button class="bi form-control" style="flex: 0 0 40px; height: 32px; margin-left: 4px;"
            @onclick="SearchAllBks">
                @* <i class="bi bi-arrow-bar-left-nav-menu"></i> *@
                All
            </button>
            <button class="bi form-control" style="flex: 0 0 40px; height: 32px; margin-left: 4px;"
            @onclick="SearchBookings">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <br /> 
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Admin" Context="authContext">
    <Authorized>
        <!-- Load Table of all open bookings Bookings -->
        @if (bookings == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border: 1px solid #929292;">Fm - To Dates</th>
                            <th style="border: 1px solid #929292;">First Name</th>
                            <th style="border: 1px solid #929292;">Last Name</th>
                            <th style="border: 1px solid #929292;"><small>Edit Delete Confirm</small></th>
                            <th style="border: 1px solid #929292;">Phone</th>
                            <th style="border: 1px solid #929292;">Property Name</th>
                            <th style="border: 1px solid #929292;">Nights</th>
                            <th style="border: 1px solid #929292;">Bkg Ref</th>
                            <th style="border: 1px solid #929292;">Paid</th>
                            <th style="border: 1px solid #929292;">Status</th>
                            <th style="border: 1px solid #929292;">Comments</th>
                            <th style="border: 1px solid #929292;">Bkg Username</th>
                            <th style="border: 1px solid #929292;">Created-Updates</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in bookings)
                        {
                            <tr>
                                <td style="border: 1px solid #929292;">@booking.DateArrive.ToShortDateString() to @booking.DateDepart.ToShortDateString()</td>
                                <td style="border: 1px solid #929292;">@booking.Bkg_User.UserFirstName</td>
                                <td style="border: 1px solid #929292;">@booking.Bkg_User.UserLastName</td>
                                <td style="border: 1px solid #929292;">
                                    <div class="tab-content" style="display:flex;flex-direction:row;">
                                        <button class="bi form-control" style="width: 40px; height: 32px;" @onclick="() => EditBooking(booking)">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                        <button class="bi form-control" style="width: 40px; height: 32px;" @onclick="() => DeleteBooking(booking.BookingId)">
                                            <i class="bi bi-trash3" style="block-size:max-content;"></i>
                                        </button>
                                        <button class="bi form-control" style="width: 70px; height: 32px;" @onclick="() => SendConfirmationModal(booking.BookingId)">
                                            <i class="bi bi-chat-text" style="block-size:max-content;"></i>
                                            <i class="bi bi-envelope-arrow-up" style="block-size:max-content;"></i>
                                        </button>
                                    </div>
                                </td>
                                <td style="border: 1px solid #929292;">@booking.Bkg_User.UserPhone</td>
                                <td style="border: 1px solid #929292;">@booking.Bkg_Property.Name</td>
                                <td style="border: 1px solid #929292;">@booking.Nights</td>
                                <td style="border: 1px solid #929292;">@booking.BookingId</td>
                                <td style="border: 1px solid #929292;">@(booking.Paid ? "Y" : "N")</td>
                                <td style="border: 1px solid #929292;">@booking.BookingStatus</td>
                                <td style="border: 1px solid #929292;">@booking.BookingComments</td>
                                <td style="border: 1px solid #929292;">@booking.Bkg_User.UserName</td>
                                <td style="border: 1px solid #929292;">c:@booking.CreatedDte.ToShortDateString() u:@booking.UpdatedDte.ToString("dd/MM/yy HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </Authorized>
</AuthorizeView>


<!-- Modal Dialog for Editing/Adding Bookings -->
@if (showModal)
{
    <div class="modal show" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@modalTitle</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>

                </div>
                @if (!string.IsNullOrEmpty(modalMessage))
                {
                    <div class="modal-header" style="color:midnightblue"><small>@modalMessage</small></div>
                }

                @* <div class="modal-header">@modalMessage</div> *@
                <div class="modal-body">
                    <EditForm Model="currentBooking" OnValidSubmit="SaveBooking">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label>Bkg User</label>
                            <InputSelect @bind-Value="currentBooking.UserId" class="form-control">
                                @foreach (var user in users)
                                {
                                    <option value="@user.UserId">@user.UserName</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label>Property</label>
                            <InputSelect @bind-Value="currentBooking.PropertyId" class="form-control">
                                @foreach (var property in properties)
                                {
                                    <option value="@property.PropertyId">@property.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group" style="display:flex;flex-direction:row;">
                            <div class="form-group" style=" text-align:center; width: 160px; margin-left: 1%">
                                <label for="fmdate">Arriving</label>
                                <SfDatePicker TValue="DateTime?" Value="@Fmdate" Placeholder='Choose a Date' ID="fmdate">
                                    <DatePickerEvents TValue="DateTime?" ValueChange="DteAriveChnge"></DatePickerEvents>
                                </SfDatePicker>

                                @* <SfDatePicker TValue="DateTime?" Value="@currentBooking.DateArrive" Placeholder='Choose a Date' ID="fmdate"> </SfDatePicker> *@
                            </div>

                            <div class="form-group" style=" text-align:center; width: 160px; margin-left: 1%">
                                <label for="tmdate">Departing</label>
                                <SfDatePicker TValue="DateTime?" Value="@Todate" Placeholder='Choose a Date' ID="todate">
                                    <DatePickerEvents TValue="DateTime?" ValueChange="DteDepartChnge"></DatePickerEvents>
                                </SfDatePicker>
                                @* <SfDatePicker TValue="DateTime?" Value="@currentBooking.DateDepart" Placeholder='Choose a Date' ID="todate"></SfDatePicker> *@
                            </div>
                        </div>





                        @*                         <div class="form-group">
                            <label>Arrival Date</label>
                            <InputDate @bind-Value="currentBooking.DateArrive" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Departure Date</label>
                            <InputDate @bind-Value="currentBooking.DateDepart" class="form-control" />
                        </div> *@
                        <div class="form-group">
                            <label>Has Paid </label>
                            <InputCheckbox @bind-Value="currentBooking.Paid" />
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <InputTextArea @bind-Value="currentBooking.BookingComments" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Status <small>(Requested,Confirmed,Paid,Arrived,Closed,Cancelled)</small></label>
                            <InputText @bind-Value="currentBooking.BookingStatus" class="form-control" />
                        </div>
                        @if (allDatesAvailable)
                        {
                            <button type="submit" class="btn btn-primary">Save</button>
                        }

                        @* <button type="submit" class="btn btn-primary">Save</button> *@
                        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


<!-- Modal Dialog for Sending Email Confirmation -->
@if (sendConfirmMsg)
{
    <div class="modal show" tabindex="-1" style="display: block;">
        <div class="modal-dialog" stype=" width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm booking by Txt or Email</h5>
                    @* <small>Normally to the Bkg User but can email to the logged in user or txt or email to another that you enter.</small> *@
                    <button type="button" class="btn-close" @onclick="CloseConfirmModal"></button>
                </div>
                <div class="modal-header" style="color:midnightblue"><small>Sent normally to the Bkg User but you can email to yourself (enter 'Me') or email/txt another by entering their email or phone number.</small></div>
                <div class="modal-header">
                    <div class="form-group" style="display: block;">
                        <label>Email Confirm to Me or Other</label>
                        <input type="text" style="flex: 1 1 200px; max-width: 200px" placeholder="Me or Other Txt/Email" @bind="adhocConfirm" />
                        <button type="button" class="btn btn-secondary" @onclick="SendAdhocConfirmation">Adhoc Confirm</button>
                    </div>
                    <div class="form-group" style="display: block;">
                        <label>Email Confirm to Client</label>
                        <button type="button" class="btn btn-secondary" @onclick="SendEmailConfirmation">Email Confirm</button>
                    </div>
                    <div class="form-group" style="display: block;">
                        <label>Txt Confirm to Client</label>
                        <button type="button" class="btn btn-secondary" @onclick="SendTxtConfirmation">Txt Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    public DateTime Fmdate { get; set; } = DateTime.Now.Date;
    public DateTime Todate { get; set; } = DateTime.Now.Date;

    private ApplicationUser user = default!;

    private List<Bkg_Booking> bookings = new();
    private List<Bkg_User> users = new();
    private List<Bkg_Property> properties = new();
    private Bkg_Booking currentBooking = new();
    private Bkg_Booking originalBooking = new();
    private Bkg_Booking orgnBkg = new();
    private DateTime orgnArrive;
    private DateTime orgnDepart;
    private int orgnPropertyId = 0;

    private bool showModal = false;
    private bool sendConfirmMsg = false;
    private bool allDatesAvailable = true;
    private bool bAllBkgs = false;
    private string modalTitle = string.Empty;
    private string modalMessage = string.Empty;
    private string searchUsername = string.Empty;
    private string searchStatus = string.Empty;
    private DateTime? searchFromDate;
    private DateTime? searchToDate;
    private int? searchPropertyId;
    private string adhocConfirm = string.Empty;



    private Bkg_User currentUser = new();
    private Bkg_Engine bkg_Engine;

    public EmailMessage emailMessage { get; set; } = new EmailMessage();


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        if (bkg_Engine == null)
        {
            bkg_Engine = new Bkg_Engine(ApplicationDbContext);
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            var userName = user.Identity.Name;
            currentUser = await ApplicationDbContext.bkg_Users.FirstOrDefaultAsync(u => u.UserName == userName);
            // Use the currentUser as needed
        }
        Todate = Fmdate.AddDays(1);
        users = await ApplicationDbContext.bkg_Users.ToListAsync() ?? new List<Bkg_User>();
        properties = await ApplicationDbContext.bkg_Properties.ToListAsync() ?? new List<Bkg_Property>();
        await LoadBookings();
    }

    private async Task LoadBookings()
    {
        var query = ApplicationDbContext.bkg_Bookings
                    .Include(b => b.Bkg_User)
                    .Include(b => b.Bkg_Property)
                    .Where(b => b.BookingStatus != "Closed" )
                    .AsQueryable();

        // Order by a specific field, for example, DateArrive
        query = query.Where(b => b.BookingStatus != "Cancelled");
        query = query.OrderBy(b => b.DateArrive);
        bookings = await query.ToListAsync();

        // bookings = await ApplicationDbContext.bkg_Bookings
        //     .Include(b => b.Bkg_User)
        //     .Include(b => b.Bkg_Property)
        //     .Where(b => b.BookingStatus != "Closed")
        //     .ToListAsync() ?? new List<Bkg_Booking>();
    }
    private DateTime AddOneDay(DateTime date)
    {
        return date.AddDays(1);
    }
    private DateTime SubOneDay(DateTime date)
    {
        return date.AddDays(-1);
    }

    private void DteAriveChnge(Syncfusion.Blazor.Calendars.ChangedEventArgs<DateTime?> args)
    {
        Fmdate = args.Value ?? DateTime.Now.Date;
        if (Todate <= Fmdate)
        {
            Todate = AddOneDay(Fmdate);
            currentBooking.DateArrive = Fmdate;
            currentBooking.DateDepart = Todate;
            StateHasChanged();
        }
    }
    private void DteDepartChnge(Syncfusion.Blazor.Calendars.ChangedEventArgs<DateTime?> args)
    {
        Todate = args.Value ?? DateTime.Now.Date;
        if (Todate <= Fmdate)
        {

            Fmdate = SubOneDay(Todate);
            currentBooking.DateArrive = Fmdate;
            currentBooking.DateDepart = Todate;

            StateHasChanged();
        }
    }


    private void EditBooking(Bkg_Booking booking)
    {
        orgnBkg = new();

        currentBooking = booking;
        orgnBkg.DateArrive = currentBooking.DateArrive; Fmdate = booking.DateArrive;
        orgnBkg.DateDepart = currentBooking.DateDepart; Todate = booking.DateDepart;
        orgnBkg.PropertyId = currentBooking.PropertyId;
        orgnBkg.BookingStatus = currentBooking.BookingStatus;
        orgnBkg.UserId = currentBooking.UserId;
        orgnBkg.BookingId = currentBooking.BookingId;
        orgnBkg.BookingComments = currentBooking.BookingComments;
        orgnBkg.Paid = currentBooking.Paid;


        modalTitle = "Edit Booking";
        modalMessage = "";
        showModal = true;
    }

    private void OpenAddModal()
    {
        currentBooking = new Bkg_Booking();
        currentBooking.DateArrive = DateTime.Now.Date;
        currentBooking.DateDepart = DateTime.Now.Date.AddDays(1);
        //perhaps need to

        modalTitle = "Add New Booking";
        showModal = true;
    }

    private async Task SaveBooking()
    {
        currentBooking.Bkg_User = await ApplicationDbContext.bkg_Users.FindAsync(currentBooking.UserId);
        currentBooking.Bkg_Property = await ApplicationDbContext.bkg_Properties.FindAsync(currentBooking.PropertyId);
        currentBooking.DateArrive = Fmdate; currentBooking.DateDepart = Todate;



        // if a new booking then we need to Create it else Change it.
        Bkg_Engine bkg_Engine = new Bkg_Engine(ApplicationDbContext);

        if (currentBooking.BookingId == 0) // A new booking
        {
            currentBooking.CreatedDte = DateTime.Now;
            currentBooking.UpdatedDte = DateTime.Now;
            var savedOK = await bkg_Engine.CreateBookingAsync(currentBooking);
            if (!savedOK)
            {
                modalMessage = "Booking Not possible - Likely date not available!";
                allDatesAvailable = false;
                showModal = true;
            }
            else
            {
                showModal = false;
                modalMessage = "";
                // Need to send a cc'd to rvpark@pontifex.nz For New Booking
                SendCCEmailConfirmation();

            }
        }
        else // editing existing bkg
        {
            currentBooking.UpdatedDte = DateTime.Now;
            var savedOK = await bkg_Engine.EditBookingAsync(orgnBkg, currentBooking);
            if (!savedOK)
            {
                modalMessage = "Could not save changes to this Booking";
                // need to return the currentBooking to the orgnBkg.
                currentBooking.DateArrive = orgnBkg.DateArrive;
                currentBooking.DateDepart = orgnBkg.DateDepart;
                currentBooking.PropertyId = orgnBkg.PropertyId;
                currentBooking.BookingStatus = orgnBkg.BookingStatus;
                currentBooking.BookingComments = orgnBkg.BookingComments;
                currentBooking.UserId = orgnBkg.UserId;
                allDatesAvailable = false;
                showModal = true;
            }
            else
            {
                showModal = false;
                modalMessage = "";
                string chngmsg = string.Empty;
                if (currentBooking.DateArrive != orgnBkg.DateArrive)
                {
                    chngmsg = string.Concat("Arrival Date Changed from ", orgnBkg.DateArrive.ToString("d"), " to ", currentBooking.DateArrive.ToString("d"));
                }   
                if (currentBooking.DateDepart != orgnBkg.DateDepart)
                {
                    chngmsg = string.Concat(chngmsg, " Departure Date Changed from ", orgnBkg.DateDepart.ToString("d"), " to ", currentBooking.DateDepart.ToString("d"));
                }
                if (currentBooking.PropertyId != orgnBkg.PropertyId)
                {
                    chngmsg = string.Concat(chngmsg, " Property Changed from [", orgnBkg.Bkg_Property.Name, "] to [", currentBooking.Bkg_Property.Name,"]");
                }
                if (currentBooking.BookingStatus != orgnBkg.BookingStatus)
                {
                    chngmsg = string.Concat(chngmsg, " Status Changed from [", orgnBkg.BookingStatus, "] to [", currentBooking.BookingStatus,"]");
                }
                if (currentBooking.BookingComments != orgnBkg.BookingComments)
                {
                    chngmsg = string.Concat(chngmsg, " Comments Changed from [", orgnBkg.BookingComments, "] to [", currentBooking.BookingComments, "]");
                }
                if (currentBooking.UserId != orgnBkg.UserId)
                {
                    chngmsg = string.Concat(chngmsg, " User Changed from [", orgnBkg.Bkg_User.UserName, "] to [", currentBooking.Bkg_User.UserName, "]");
                }
                if (currentBooking.Paid != orgnBkg.Paid)
                {
                    chngmsg = string.Concat(chngmsg, " Paid Changed from [", orgnBkg.Paid.ToString(), "] to [", currentBooking.Paid.ToString(), "]");
                }

                // Need to send a cc'd to rvpark@pontifex.nz  For Edit Booking showing Changes made if possible.
                SendCCEmailConfirmation(chngmsg);

            }

        }
        await LoadBookings();

    }

    private async Task DeleteBooking(int bookingId)
    {
        var booking = await ApplicationDbContext.bkg_Bookings.FindAsync(bookingId);
        if (booking != null)
        {
            string subjectMsg = string.Concat("WARNING", " BkgRef: ", booking.BookingId.ToString(), " for ", booking.Bkg_Property.Name,
                                " from ", booking.DateArrive.Date.ToString("d"), " to ", booking.DateDepart.Date.ToString("d"), " HAS BEEN DELETED");

            string CCMsg = string.Concat("CC msg of email to:", booking.Bkg_User.UserEmail, " Warning BkgRef: ", booking.BookingId.ToString(),
                                " for ", booking.Bkg_Property.Name, " from ", booking.DateArrive.Date.ToString("d"), " to ", booking.DateDepart.Date.ToString("d"), " HAS BEEN DELETED"); try
            {
                await bkg_Engine.DeleteBookingAsync(booking);
                await LoadBookings();
                // Need to send a cc'd to rvpark@pontifex.nz
                SendCCEmailDeleteConfirmation(CCMsg, "Warning");

            }
            catch (Exception ex)
            {
                modalTitle = "Error found deleting this Booking";
                modalMessage = ex.ToString();
                // allDatesAvailable = false;
                showModal = true;
            }

            // await LoadBookings();
        }


    }

    private void CloseModal()
    {
        modalMessage = "";
        allDatesAvailable = true; //for next time it is opened
        showModal = false;
    }
    private void CloseConfirmModal()
    {
        sendConfirmMsg = false;
    }

    private async Task SearchBookings()
    {
        var query = ApplicationDbContext.bkg_Bookings
            .Include(b => b.Bkg_User)
            .Include(b => b.Bkg_Property)
            .AsQueryable();
        if (!bAllBkgs)
        {
            query = query.Where(b => b.BookingStatus != "Closed");
            query = query.Where(b => b.BookingStatus != "Cancelled");
        }

        if (!string.IsNullOrEmpty(searchUsername))
        {
            // if numeric then is Bkg Ref else User name
            if (IsNumeric(searchUsername))
            {
                query = query.Where(b => b.BookingId == int.Parse(searchUsername));
            }
            else
            {
                query = query.Where(b => b.Bkg_User.UserName.Contains(searchUsername));
            }
            // query = query.Where(b => b.Bkg_User.UserName.Contains(searchUsername));
        }
        if (!string.IsNullOrEmpty(searchStatus))
        {
            query = query.Where(b => b.BookingStatus.Contains(searchStatus));
        }
        if (searchFromDate.HasValue)
        {
            query = query.Where(b => b.DateArrive >= searchFromDate.Value);
        }

        if (searchToDate.HasValue)
        {
            query = query.Where(b => b.DateDepart <= searchToDate.Value);
        }

        if (searchPropertyId.HasValue)
        {
            query = query.Where(b => b.PropertyId == searchPropertyId.Value);
        }
        // Order by a specific field, for example, DateArrive
        query = query.OrderBy(b => b.DateArrive);
        bookings = await query.ToListAsync();
    }
    private async Task SearchAllBks()
    {
        var query = ApplicationDbContext.bkg_Bookings
            .Include(b => b.Bkg_User)
            .Include(b => b.Bkg_Property)
            .AsQueryable();

        if (!string.IsNullOrEmpty(searchUsername))
        {
            if (IsNumeric(searchUsername))
            {
                query = query.Where(b => b.BookingId == int.Parse(searchUsername));
            }
            else
            {
                query = query.Where(b => b.Bkg_User.UserName.Contains(searchUsername));
            }
        }
        if (!string.IsNullOrEmpty(searchStatus))
        {
            query = query.Where(b => b.BookingStatus.Contains(searchStatus));
        }
        if (searchFromDate.HasValue)
        {
            query = query.Where(b => b.DateArrive >= searchFromDate.Value);
        }

        if (searchToDate.HasValue)
        {
            query = query.Where(b => b.DateDepart <= searchToDate.Value);
        }

        if (searchPropertyId.HasValue)
        {
            query = query.Where(b => b.PropertyId == searchPropertyId.Value);
        }

        // Order by a specific field, for example, DateArrive
        query = query.OrderBy(b => b.DateArrive);

        bookings = await query.ToListAsync();
    }
    private void ClearSearch()
    {
        searchUsername = string.Empty;
        searchStatus = string.Empty;
        searchFromDate = null;
        searchToDate = null;
        searchPropertyId = null;
    }
    public static bool IsNumeric(string value)
    {
        return double.TryParse(value, out _);
    }

    private void SendConfirmationModal(int bookingId)
    {
        currentBooking = bookings.FirstOrDefault(b => b.BookingId == bookingId);
        sendConfirmMsg = true;
    }
    private void SendEmailConfirmation()
    {
        // This is to the BkgUser and the bkg_User.email is destination and F/L Names are From the currentBooking.Bkg_User.
        string destination = currentBooking.Bkg_User.UserEmail;
        SendEmailConfirmation(destination);
    }
    private void SendTxtConfirmation()
    {
        // This is to the BkgUser and the bkg_User.phone is destination and F/L Names are From the currentBooking.Bkg_User.
        // send a short text message if they have an email address otherwise the full more expensive one
        string txtrept = Chk_E_164_Phone(currentBooking.Bkg_User.UserPhone);
        string stmp = currentBooking.Bkg_User.UserEmail;
        if (emailMessage.IsValidEmail(stmp))
        {
            // send a SHORT text message
            SendTxtConfirmation(txtrept);
        }
        else
        {
            // send the FULL txt message as no email address
            SendTxtConfirmationNoEmail(txtrept);
        }
    }
    private void SendEmailConfirmation(string emailTo)
    {
        string subjectMsg = string.Concat("BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
    " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));
        // emailMessage = new EmailMessage(currentBooking.Bkg_User.UserEmail,
        //     "Booking Confirmation", "", currentBooking.DateArrive, currentBooking.DateDepart, currentBooking.Bkg_User);

        // emailMessage.Subject = subjectMsg;
        // Using TNZ
#if !DEBUG

        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: ConfirmBkgMsg(),
            destination: emailTo
        );
#endif
        sendConfirmMsg = false;
    }
    private void SendAdhocConfirmation()
    {
        // This is to the Adhoc Destination either email or phne.
        // BUT if 'Me' then to the currentUser and F/L Names are From the currentBooking.Bkg_User with a leading text saying cc'd to Adhoc Address.
        // if NOT ME then to the phone or email in adhoc field F/L Name from currentBooking.Bkg_User and a leading text saying cc'd to phone or email entered.

        bool isEmail = true;
        string sendtoWho = string.Empty;
        // if Me then send to the logged in user
        if (adhocConfirm.ToLower() == "me" || adhocConfirm.Length == 0)
        {
            adhocConfirm = currentUser.UserEmail;
            isEmail = true;
        }
        else if (IsNumeric(adhocConfirm))
        {
            adhocConfirm = Chk_E_164_Phone(adhocConfirm);
            isEmail = false;
        }
        else
        {
            if (!emailMessage.IsValidEmail(adhocConfirm))
            {
                modalMessage = "Invalid Email or Phone Number";
                //                showModal = true;
                adhocConfirm = string.Empty;
                sendConfirmMsg = false;
                return; // do nothing and say nothing
            }
            isEmail = true;
        }
        if (isEmail)
        {
            SendEmailAdhocConfirmation(adhocConfirm);
        }
        else
        {
            SendTxtAdhocConfirmation(adhocConfirm); // Send a txt message (abreviated) to the adhoc phone number.
        }

        adhocConfirm = string.Empty;
        sendConfirmMsg = false;

    }
    private void SendEmailAdhocConfirmation(string emailTo)
    {
        string subjectMsg = string.Concat("BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
    " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));
        // emailMessage = new EmailMessage(currentBooking.Bkg_User.UserEmail,
        //     "Booking Confirmation", "", currentBooking.DateArrive, currentBooking.DateDepart, currentBooking.Bkg_User);

        // emailMessage.Subject = subjectMsg;
#if !Debug
        // Using TNZ
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: ConfirmAdHocBkgMsg(emailTo),
            destination: emailTo
        );
#endif
        sendConfirmMsg = false;
    }
    private void SendCCEmailConfirmation()
    {
        string subjectMsg = string.Concat("CC msg of email to:", currentBooking.Bkg_User.UserEmail, " BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));
#if !DEBUG
        // Using TNZ
        var apiUser = new TNZApiUser()  // this should come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: ConfirmBkgMsg(),
            destination: configuration["TNZ:CCemail"]
        );
#endif
        sendConfirmMsg = false;
    }
    private void SendCCEmailConfirmation(string chngmsg)
    {
        string subjectMsg = string.Concat("CC msg of email to:", currentBooking.Bkg_User.UserEmail, " Changed! And Now is - BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));
        string CCMsg = string.Concat(subjectMsg, " Changes are:-", chngmsg);
        CCMsg += "\r\n" + ConfirmBkgMsg();

        // string subjectMsg = string.Concat("CC msg of email to:", currentBooking.Bkg_User.UserEmail, chngmsg, " BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
    #if !DEBUG
        // Using TNZ
        var apiUser = new TNZApiUser()  // this should come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);
        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: CCMsg,
            destination: configuration["TNZ:CCemail"]
        );
    #endif
        sendConfirmMsg = false;
    }

    private void SendCCEmailDeleteConfirmation(string subjectMsg, string DeleteMsg)
    {
        // string subjectMsg = string.Concat("CC msg of email to:", currentBooking.Bkg_User.UserEmail, DeleteMsg, " BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        // " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"), " HAS BEEN DELETED");
#if !DEBUG
        // Using TNZ
        var apiUser = new TNZApiUser()  // this should come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: subjectMsg,
            destination: configuration["TNZ:CCemail"]
        );
#endif
        sendConfirmMsg = false;
    }
    private void SendTxtConfirmation(string txtrept)
    {
        string subjectMsg = string.Concat("BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));

        // emailMessage = new EmailMessage(currentBooking.Bkg_User.UserEmail,
        //     "Booking Confirmation", "", currentBooking.DateArrive, currentBooking.DateDepart, currentBooking.Bkg_User);

        // emailMessage.Subject = subjectMsg;
        // Using TNZ
//#if !DEBUG
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var response = client.Messaging.SMS.SendMessage
            (
                destination: txtrept,
                messageText: ConfirmTxtBkgMsg()
            );
//#endif
        sendConfirmMsg = false;
    }
    private void SendTxtConfirmationNoEmail(string txtrept) // txtrept is a phone number in E.164 format and this message is FULL LENGTH expensive.
    {
        string subjectMsg = string.Concat("BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));

        // emailMessage = new EmailMessage(currentBooking.Bkg_User.UserEmail,
        //     "Booking Confirmation", "", currentBooking.DateArrive, currentBooking.DateDepart, currentBooking.Bkg_User);

        // emailMessage.Subject = subjectMsg;
        // Using TNZ
#if !DEBUG
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var response = client.Messaging.SMS.SendMessage
            (
                destination: txtrept,
                messageText: ConfirmTxtNoEmailBkgMsg()
            );
#endif
        sendConfirmMsg = false;
    }
    private void SendTxtAdhocConfirmation(string txtrept) // txtrept is a phone number in E.164 format and this message is SHORTER than normal to save service charges.
    {
        string subjectMsg = string.Concat("BkgRef: ", currentBooking.BookingId.ToString(), " for ", currentBooking.Bkg_Property.Name,
        " from ", currentBooking.DateArrive.Date.ToString("d"), " to ", currentBooking.DateDepart.Date.ToString("d"));

        // emailMessage = new EmailMessage(currentBooking.Bkg_User.UserEmail,
        //     "Booking Confirmation", "", currentBooking.DateArrive, currentBooking.DateDepart, currentBooking.Bkg_User);

        // emailMessage.Subject = subjectMsg;
        // Using TNZ
#if !DEBUG
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var response = client.Messaging.SMS.SendMessage
            (
                destination: txtrept,
                messageText: ConfirmTxtAdHocBkgMsg(txtrept)
            );
#endif
        sendConfirmMsg = false;
    }
    private string ConfirmBkgMsg()  // Uses Bkg_User Names
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("Kia ora ");
//        sb.Append(currentUser.UserFirstName);
        sb.Append(currentBooking.Bkg_User.UserFirstName);
        sb.Append(" ");
//        sb.Append(currentUser.UserLastName);
        sb.Append(currentBooking.Bkg_User.UserLastName);
        sb.Append("\n\n");
        sb.Append("Your booking has been confirmed for ");
        sb.Append(currentBooking.Bkg_Property.Name);
        sb.Append(" arriving after mid-day ");
        sb.Append(currentBooking.DateArrive.Date.ToString("d"));
        sb.Append(" departing before mid-day ");
        sb.Append(currentBooking.DateDepart.Date.ToString("d"));
        sb.Append("\n\n");
        sb.Append("Address is\r\n" +
                 "        22 Fitzpatrick St\r\n" +
                 "        Newlands\r\n" +
                 "        Wellington 6037\r\n\r\n" +
                 "Access is best from Stewart Drive. Either from the north where you would exit SH1 at Johnsonville or from the South also through Johnsonville's main street. Turn into Fitzpatrick St from Stewart Drive is best. " +
                 "We are on the left corner of the 2nd street on the left going up Fitzpatrick St.\r\n\r\n" +
                 "https://www.rvpark.nz/directions click for map from the South \r\n" +
                 "https://www.rvpark.nz/directionsnorth click for map from the North \r\n" +

                 "Access from Stewart Drive is also possible via Quigley St. Follow Quigley Street around until it T-intersects with Fitzpatrick St. Your park is then on the left of that intersection.\r\n\r\n" +
                 "PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.\r\n\r\n" +
                 "Payment is $30 for the night with NZMCA Memebrship otherwise $45 per night, payable in advance please to our bank account.\r\n" +
                 "        Ronald Pontifex\r\n" +
                 "        03 0525 0253043 000\r\n" +
                 "(We have Wise Card if that suits you better.)\r\n\r\n" +
                 "Please text us on arrival and we shall come out to meets you etc.\r\n" +
                 "Again many thanks\r\n" +
                 "Ron Pontifex\r\n" +
                 "WELLINGTON New Zealand\r\n" +
                 "Ph 027 304 2002\r\n" +
                 "E - Mail : rvpark@pontifex.nz\r\n");
        return sb.ToString();
    }
    private string ConfirmAdHocBkgMsg(string rept)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("cc'd to ");
        sb.Append(currentUser.UserFirstName);
        sb.Append(" ");
        sb.Append(currentUser.UserLastName);
        sb.Append(" ");
        sb.Append(rept);
        sb.Append("\n\n");

        sb.Append("Kia ora ");
        //        sb.Append(currentUser.UserFirstName);
        sb.Append(currentBooking.Bkg_User.UserFirstName);
        sb.Append(" ");
        //        sb.Append(currentUser.UserLastName);
        sb.Append(currentBooking.Bkg_User.UserLastName);
        sb.Append("\n\n");
        sb.Append("Your booking has been confirmed for ");
        sb.Append(currentBooking.Bkg_Property.Name);
        sb.Append(" arriving after mid-day ");
        sb.Append(currentBooking.DateArrive.Date.ToString("d"));
        sb.Append(" departing before mid-day ");
        sb.Append(currentBooking.DateDepart.Date.ToString("d"));
        sb.Append("\n\n");
        sb.Append("Address is\r\n" +
                 "        22 Fitzpatrick St\r\n" +
                 "        Newlands\r\n" +
                 "        Wellington 6037\r\n\r\n" +
                 "Access is best from Stewart Drive. Either from the north where you would exit SH1 at Johnsonville or from the South also through Johnsonville's main street. Turn into Fitzpatrick St from Stewart Drive is best. " +
                 "We are on the left corner of the 2nd street on the left going up Fitzpatrick St.\r\n\r\n" +
                 "https://www.rvpark.nz/directions click for map from the South \r\n" +
                 "https://www.rvpark.nz/directionsnorth click for map from the North \r\n" +
                 "Access from Stewart Drive is also possible via Quigley St. Follow Quigley Street around until it T-intersects with Fitzpatrick St. Your park is then on the left of that intersection.\r\n\r\n" +
                 "PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.\r\n\r\n" +
                 "Payment is $30 for the night with NZMCA Memebrship otherwise $45 per night, payable in advance please to our bank account.\r\n" +
                 "        Ronald Pontifex\r\n" +
                 "        03 0525 0253043 000\r\n" +
                 "(We have Wise Card if that suits you better.)\r\n\r\n" +
                 "Please text us on arrival and we shall come out to meets you etc.\r\n" +
                 "Again many thanks\r\n" +
                 "Ron Pontifex\r\n" +
                 "WELLINGTON New Zealand\r\n" +
                 "Ph 027 304 2002\r\n" +
                 "E - Mail : rvpark@pontifex.nz\r\n");
        return sb.ToString();
    }
    private string ConfirmTxtBkgMsg()  // Uses Bkg_User Names  is a short message
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("Kia ora ");
        //        sb.Append(currentUser.UserFirstName);
        sb.Append(currentBooking.Bkg_User.UserFirstName);
        sb.Append(" ");
        //        sb.Append(currentUser.UserLastName);
        sb.Append(currentBooking.Bkg_User.UserLastName);
        sb.Append("\n\n");
        sb.Append("Your booking has been confirmed for ");
        sb.Append(currentBooking.Bkg_Property.Name);
        sb.Append(" arriving after mid-day ");
        sb.Append(currentBooking.DateArrive.Date.ToString("d"));
        sb.Append(" departing before mid-day ");
        sb.Append(currentBooking.DateDepart.Date.ToString("d"));
        sb.Append("\n\n");
        sb.Append("Please refer to your Bkg confirmation Email for full Details.\r\n" +
                 "from : rvpark@pontifex.nz\r\n");
        return sb.ToString();
    }
    private string ConfirmTxtNoEmailBkgMsg()  // Uses Bgy_User Names
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("Kia ora ");
        //        sb.Append(currentUser.UserFirstName);
        sb.Append(currentBooking.Bkg_User.UserFirstName);
        sb.Append(" ");
        //        sb.Append(currentUser.UserLastName);
        sb.Append(currentBooking.Bkg_User.UserLastName);
        sb.Append("\n\n");
        sb.Append("Your booking has been confirmed for ");
        sb.Append(currentBooking.Bkg_Property.Name);
        sb.Append(" arriving after mid-day ");
        sb.Append(currentBooking.DateArrive.Date.ToString("d"));
        sb.Append(" departing before mid-day ");
        sb.Append(currentBooking.DateDepart.Date.ToString("d"));
        sb.Append("\n\n");
        sb.Append("Address is\r\n" +
                     "        22 Fitzpatrick St\r\n" +
                     "        Newlands\r\n" +
                     "        Wellington 6037\r\n\r\n" +
                     "Access is best from Stewart Drive. Either from the north where you would exit SH1 at Johnsonville or from the South also through Johnsonville's main street. Turn into Fitzpatrick St from Stewart Drive is best. " +
                     "We are on the left corner of the 2nd street on the left going up Fitzpatrick St.\r\n\r\n" +
                     "https://www.rvpark.nz/directions click for map from the South \r\n" +
                     "https://www.rvpark.nz/directionsnorth click for map from the North \r\n" +

                     "Access from Stewart Drive is also possible via Quigley St. Follow Quigley Street around until it T-intersects with Fitzpatrick St. Your park is then on the left of that intersection.\r\n\r\n" +
                     "PLEASE BE AWARE: Some of the roads in Newlands are NOT suitable for RVs and larger vehicles SO DO NOT FOLLOW THE Map Apps THEY WILL GET YOU STUCK... Really We Are Not Kidding.\r\n\r\n" +
                     "Payment is $30 for the night with NZMCA Memebrship otherwise $45 per night, payable in advance please to our bank account.\r\n" +
                     "        Ronald Pontifex\r\n" +
                     "        03 0525 0253043 000\r\n" +
                     "(We have Wise Card if that suits you better.)\r\n\r\n" +
                     "Please text us on arrival and we shall come out to meets you etc.\r\n" +
                     "Again many thanks\r\n" +
                     "Ron Pontifex\r\n" +
                     "WELLINGTON New Zealand\r\n" +
                     "Ph 027 304 2002\r\n" +
                     "E - Mail : rvpark@pontifex.nz\r\n");
        return sb.ToString();
    }
    private string ConfirmTxtAdHocBkgMsg(string rept)
    {
        StringBuilder sb = new StringBuilder();
        sb.Append("cc'd to ");
        sb.Append(currentUser.UserFirstName);
        sb.Append(" ");
        sb.Append(currentUser.UserLastName);
        sb.Append(" ");
        sb.Append(rept);
        sb.Append("\n\n");

        sb.Append("Kia ora ");
        //        sb.Append(currentUser.UserFirstName);
        sb.Append(currentBooking.Bkg_User.UserFirstName);
        sb.Append(" ");
        //        sb.Append(currentUser.UserLastName);
        sb.Append(currentBooking.Bkg_User.UserLastName);
        sb.Append("\n\n");
        sb.Append("Your booking has been confirmed for ");
        sb.Append(currentBooking.Bkg_Property.Name);
        sb.Append(" arriving after mid-day ");
        sb.Append(currentBooking.DateArrive.Date.ToString("d"));
        sb.Append(" departing before mid-day ");
        sb.Append(currentBooking.DateDepart.Date.ToString("d"));
        sb.Append("\n\n");
        sb.Append("Please refer to your Bkg confirmation Email for full Details.\r\n" +
                 "from : rvpark@pontifex.nz\r\n");
        return sb.ToString();
    }

    private string Chk_E_164_Phone(string phne)
    {
        string srtn = string.Empty;
        if (phne.Length > 0)
        {
            if (phne.StartsWith("+")) // then likely in the corect format already
            {
                srtn = phne.Trim();
            }
            else if (phne.StartsWith("0"))// then likely miss country code so remove the "0" and add "+64"
            {
                srtn = string.Concat("+64" + phne[1..]); // this prefix should be a configurable for the ountry the app is being run in.
            }
        }
        return srtn;
    }

}
