@page "/Account/RegisterFull"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using RVParking.Data
@using TNZAPI.NET;
@using TNZAPI.NET.Core;
@using TNZAPI.NET.Api.Addressbook.Contact.Dto;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<RegisterFull> Logger
@inject NavigationManager NavigationManager
@inject ApplicationDbContext ApplicationDbContext
@inject IConfiguration configuration

<PageTitle>Register Full</PageTitle>

<h1>Register (Full Details)</h1>

<div class="row">
    <div class="col-lg-6">
        @if (currentStep == 1)
        {
            @* <StatusMessage Message="@Message" /> *@
            <EditForm Model="RegistrationInput" OnSubmit="@SendConfirmationCodes" FormName="SendCodesForm">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.Email" class="form-control" placeholder="Email" />
                    <label>Email</label>
                    <ValidationMessage For="() => RegistrationInput.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="RegistrationInput.Password" class="form-control" placeholder="Password" />
                    <label>Password</label>
                    <ValidationMessage For="() => RegistrationInput.Password" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="RegistrationInput.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <label>Confirm Password</label>
                    <ValidationMessage For="() => RegistrationInput.ConfirmPassword" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.FirstName" class="form-control" placeholder="First Name" />
                    <label>First Name</label>
                    <ValidationMessage For="() => RegistrationInput.FirstName" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.LastName" class="form-control" placeholder="Last Name" />
                    <label>Last Name</label>
                    <ValidationMessage For="() => RegistrationInput.LastName" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.Mobile" class="form-control" placeholder="Mobile" />
                    <label>Mobile Phone</label>
                    <ValidationMessage For="() => RegistrationInput.Mobile" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.City" class="form-control" placeholder="City" />
                    <label>City</label>
                    <ValidationMessage For="() => RegistrationInput.City" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.Country" class="form-control" placeholder="Country" />
                    <label>Country</label>
                    <ValidationMessage For="() => RegistrationInput.Country" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.NZMCA" class="form-control" placeholder="NZMCA #" />
                    <label>NZMCA #</label>
                    <ValidationMessage For="() => RegistrationInput.NZMCA" class="text-danger" />
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Send Confirmation Codes</button>
            </EditForm>
        }
 
        @if (currentStep == 2)
        {
            @* <StatusMessage Message="@Message" /> *@
            <EditForm Model="RegistrationInput" OnValidSubmit="@ValidateCodesAndRegister" FormName="ValidateCodesForm">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.SmsCode" class="form-control" placeholder="SMS Code" />
                    <label>SMS Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.SmsCode" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.EmailCode" class="form-control" placeholder="Email Code" />
                    <label>Email Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.EmailCode" class="text-danger" />
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-success">Register</button>
            </EditForm>
            @if (verificationResult != null)
            {
                <p>@verificationResult</p>
            }
        }
        @if (currentStep == 3)
        {
            @if (verificationResult != null)
            {
                <p>@verificationResult</p>
            }
            @* <StatusMessage Message="@Message" /> *@
            <EditForm Model="RegistrationInput" OnValidSubmit="@ExitRegisterForm" FormName="ExitRegForm">
     @*            <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.EmailCode" class="form-control" placeholder="Email Code" />
                    <label>Email Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.EmailCode" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="RegistrationInput.SmsCode" class="form-control" placeholder="SMS Code" />
                    <label>SMS Confirmation Code</label>
                    <ValidationMessage For="() => RegistrationInput.SmsCode" class="text-danger" />
                </div> *@
                <button type="submit" class="w-100 btn btn-lg btn-success">exit</button>
            </EditForm>

        }
    </div>
</div>

@code {
    private bool codesSent = false;    
    private int currentStep = 1;    
    private string? generatedEmailCode;
    private string? generatedSmsCode;
    private string verificationResult;

    private IEnumerable<IdentityError>? identityErrors;

    private RegistrationInputModel RegistrationInput { get; set; } = new();
    // private CodeInputModel CodeInput { get; set; } = new();

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    private string GenerateCode() => new Random().Next(100000, 999999).ToString();

    private async Task SendConfirmationCodes()
    {
        generatedEmailCode = GenerateCode();
        generatedSmsCode = GenerateCode();

        // Send email code
        // await EmailSender.SendEmailAsync(RegistrationInput.Email, "Your Email Confirmation Code", $"Your code: {generatedEmailCode}");
        SendEmailConfirmationCode(RegistrationInput.Email);

        // Send SMS code
        // await SmsSender.SendSmsAsync(RegistrationInput.Mobile, $"Your SMS confirmation code: {generatedSmsCode}");
        string txtrept = Chk_E_164_Phone(RegistrationInput.Mobile);
        SendTxtConfirmationCode(txtrept);

        currentStep = 2;    
        codesSent = true;
    }

    private async Task ValidateCodesAndRegister()
    {
        // if (verificationResult != null)
        // {
        //     NavigationManager.NavigateTo("/");
        // }
        if (RegistrationInput.EmailCode != generatedEmailCode || RegistrationInput.SmsCode != generatedSmsCode)
        {
            identityErrors = new[] { new IdentityError { Description = "Invalid confirmation codes." } };
            verificationResult =  "❌ Verification failed.";
            currentStep = 3;
            return;
        }


        var user = new ApplicationUser
        {
            Email = RegistrationInput.Email,
            UserName = RegistrationInput.Email,
            FirstNames = RegistrationInput.FirstName,
            LastName = RegistrationInput.LastName,
            PhoneNumber = RegistrationInput.Mobile,
            City = RegistrationInput.City,
            Country = RegistrationInput.Country,
            NZMCA = RegistrationInput.NZMCA,
            CreatedDte = DateTime.Now
        };

        var result = await UserManager.CreateAsync(user, RegistrationInput.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            string serr = result.Errors.FirstOrDefault()?.Description ?? string.Empty;
            verificationResult =  "❌ Verification failed. " + serr;
            currentStep = 3;
            return;
        }
     
        await SignInManager.SignInAsync(user, isPersistent: false);
        NavigationManager.NavigateTo("/");
    }
    private Task ExitRegisterForm()
    {
        NavigationManager.NavigateTo("/");
        return Task.CompletedTask;
    }
    private sealed class RegistrationInputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        public string FirstName { get; set; } = "";

        [Required]
        public string LastName { get; set; } = "";

        [Required]
        [RegularExpression(@"^\+?[1-9]\d{1,14}$", ErrorMessage = "The phone number is not valid.")]
        [DataType(DataType.PhoneNumber)]
        public string Mobile { get; set; } = "";

        [Required]
        public string City { get; set; } = "";

        [Required]
        public string Country { get; set; } = "";

        [Required]
        public string NZMCA { get; set; } = "";

        [Required]
        [StringLength(100, MinimumLength = 6)]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        public string EmailCode { get; set; } = "";
        public string SmsCode { get; set; } = "";
    }

    private void SendEmailConfirmationCode(string emailTo)
    {
        string subjectMsg = "Email Confirmation Code";
        string bodyMsg = $"Your Email Confirmation code is: {generatedEmailCode}";

      
// #if !DEBUG

        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
            {
                AuthToken = configuration["TNZ:AuthToken"]
            };
        var client = new TNZApiClient(apiUser);

        var reponseEmail = client.Messaging.Email.SendMessage(
            fromEmail: configuration["TNZ:fromEmail"],  // this should come from configuration injection
            emailSubject: subjectMsg,
            messagePlain: bodyMsg,
            destination: emailTo
        );
// #endif

    }
    private void SendTxtConfirmationCode(string txtrept) // txtrept is a phone number in E.164 format and this message is FULL LENGTH expensive.
    {
        string msg = $"Your SMS confirmation code: {generatedSmsCode}";
// #if !DEBUG
        var apiUser = new TNZApiUser()  // this shoild come from configuration injection
        {
            AuthToken = configuration["TNZ:AuthToken"]
        };
        var client = new TNZApiClient(apiUser);

        var response = client.Messaging.SMS.SendMessage
            (
                destination: txtrept,
                messageText: msg
            );
// #endif   
    }
    private string Chk_E_164_Phone(string phne)
    {
        string srtn = string.Empty;
        if (phne.Length > 0)
        {
            if (phne.StartsWith("+")) // then likely in the corect format already
            {
                srtn = phne.Trim();
            }
            else if (phne.StartsWith("0"))// then likely miss country code so remove the "0" and add "+64"
            {
                srtn = string.Concat("+64" + phne[1..]); // this prefix should be a configurable for the ountry the app is being run in.
            }
        }
        return srtn;
    }

}